$form-border-color: #EAE112;
$form-bg-color: #0E0E0E;
$text-color: white;
$button-bg-color: #EAE112;
$button-text-color: #0E0E0E;

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 700px;
    }

    .input-row {
        display: flex;
        gap: 10px;

        .form-input {
            flex: 1;
        }
    }

    .form-input,
    .form-textarea {
        padding: 10px;
        border: 1.5px solid $form-border-color;
        background: $form-bg-color;
        color: $text-color;
        border-radius: 9px;
        margin-bottom: 15px;
    }

    .form-textarea {
        min-height: 100px;
        resize: none;
    }

    .form-button {
        background: $button-bg-color;
        color: $button-text-color;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
}