@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Вирівнює логотип і навігацію по центру */
    justify-content: center;
    /* Вертикальне вирівнювання всередині чорного блоку */
    width: 300px;
    /* Збільшено ширину для комфортного відображення тексту */
    height: 100vh;
    padding: 20px;
    background-color: #0E0E0E;
    /* Чорний фон */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}

/* Логотип */
.logo {
    margin-bottom: 70px;
    text-align: center;
    /* Центрування тексту логотипу */
}

.logo-text {
    color: #EAE112;
    /* Жовтий колір для логотипу */
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    font-family: "Ubuntu", serif;   
    font-optical-sizing: auto;
}

/* Меню навігації */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Центрує всі пункти меню */
    width: 100%;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-bottom: 30px;
    /* Збільшено відступи між пунктами для кращого вигляду */
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    /* Збільшено розмір шрифту */
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
    display: block;
    text-align: center;
    /* Центрує текст всередині пункту */
    padding: 10px 0;
    /* Збільшено висоту фону */
    width: 100%;
    /* Ширина пункту займає весь блок */
}

.nav-link:hover {
    color: #EAE112;
    /* Жовтий колір при наведенні */
}

.nav-link.active {
    color: #EAE112;
    /* Жовтий колір для активного пункту */
}

/* Контейнер для основного вмісту */
main {
    margin-left: 320px;
    /* Відступ для основного контенту */
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.contact li {
    margin: 0 10px;
    text-decoration-line: none;
}

.contact a {
    color: white;
}

.contact a:hover {
    color: #EAE112;
    /* Жовтий колір при наведенні */
}

.fa-facebook-f,
.fa-twitter,
.fa-linkedin-in,
.fa-github {
    font-size: 30px;
}

ul {
    list-style: none;
}