$primary-color: #EAE112;
$font-size-base: 17px;
$line-height-base: 23px;

.container-about {
    .title-container {
        margin-top: 50px;
        margin-bottom: 10px;
        text-align: center;

        .title-about-me {
            text-align: center;
        }

        .title-text {
            text-align: center;
        }
    }

    .info {
        display: flex;
        justify-content: start;
        gap: 90px;
        margin-top: 10px;

        .info-photo {
            border-radius: 30px;
            margin-left: 47px;
            padding: 0;
        }

        .info-text {
            .name {
                color: $primary-color;
                font-size: 23px;
            }

            h3 {
                margin-bottom: 10px;
            }

            .aboutme-text,
            .aboutme---text {
                margin-top: 15px;
                font-size: $font-size-base;
                line-height: $line-height-base;
            }
        }
    }

    .stack {
        margin-top: 15px;
        margin-left: 37px;

        .stack-title {
            color: $primary-color;
            margin-left: 10px;
        }

        .stack-photo {
            display: flex;
            gap: 30px;
            margin-right: 10px;
        }
    }

    .btn-download-cv {
        margin-top: 5px;
        background-color: $primary-color;
        border-radius: 9px;
        width: 130px;
        height: 50px;
        font-size: 15px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}