.info {
    display: flex;
    justify-content: space-evenly;
}

.info-photo{
    border-radius: 30px;
}

.title-about-me {
    text-align: end;
}

.stack-photo {
    margin-right: 10px;
}

.stack-title {
    color: #EAE112;
}