@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100vh;
    padding: 20px;
    background-color: #0E0E0E;
    color: white;
    position: fixed;
    top: 0;
    left: 0;

    .logo {
        margin-bottom: 70px;
        text-align: center;

        .logo-text {
            color: #EAE112;
            font-weight: 800;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1px;
            white-space: nowrap;
            font-family: "Ubuntu", serif;
            font-optical-sizing: auto;
        }
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .nav-list {
            list-style: none;
            margin: 0;
            padding: 0;

            .nav-item {
                margin-bottom: 30px;

                .nav-link {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    transition: color 0.3s ease;
                    display: block;
                    text-align: center;
                    padding: 10px 0;
                    width: 100%;

                    &:hover {
                        color: #EAE112;
                    }

                    &.active {
                        color: #EAE112;
                    }
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;

        li {
            margin: 0 10px;
            text-decoration-line: none;

            a {
                color: white;

                &:hover {
                    color: #EAE112;
                }
            }
        }

        .fa-facebook-f,
        .fa-twitter,
        .fa-linkedin-in,
        .fa-github {
            font-size: 30px;
        }
    }
}

main {
    margin-left: 320px;
}

ul {
    list-style: none;
}